:root {
  --docsearch-primary-color: #228be6;
  --docsearch-logo-color: #228be6;
}

.DocSearch-Container {
  z-index: 1000;
}

.DocSearch-Logo .cls-1,
.DocSearch-Logo .cls-2 {
  fill: var(--docsearch-logo-color);
}
