.redRow {
  color: var(--mantine-color-red-6);
  background-color: light-dark(
    color-mix(in srgb, var(--mantine-color-red-6) 10%, var(--mantine-color-white)),
    color-mix(in srgb, var(--mantine-color-red-6) 30%, var(--mantine-color-black))
  );
}
