# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# service worker
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# build output
/dist/
