node_modules
.DS_Store
yarn-debug.log*
yarn-error.log*
.next
out
dist
.turbo
docs/public/robots.txt
docs/public/sitemap.xml
docs/public/sw.js
docs/public/workbox-*.js
package/README.md
package/LICENSE
