.modalHeader {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.modalTitle {
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-2));
  font-weight: 700;
}
