.root {
  display: flex;
  gap: rem(4px);
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 404px) {
    flex-direction: row;
    align-items: center;
  }
}

.label {
  width: rem(130px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-start;
  @media (min-width: 404px) {
    align-self: auto;
  }
}

.inputs {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
