.root {
  background: linear-gradient(var(--mantine-color-body), alpha(var(--mantine-color-body), 0.75));
  backdrop-filter: blur(3px);

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: rem(6px);
    bottom: rem(-7px);
    background: linear-gradient(light-dark(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.45)), rgba(0, 0, 0, 0));
    transition: opacity 0.2s;
    opacity: 0;
  }
}

.scrolled::after {
  opacity: 1;
}
