.root {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-0));
  text-decoration: none;
}

.icon {
  width: rem(30px);
  height: auto;
  background: var(--mantine-color-blue-6);
  color: white;
  padding: rem(5px);
  border-radius: 50%;
}

.text {
  font-size: rem(18px);
  margin-bottom: rem(-2px);

  /* todo remove this firefox fix as soon as the problem is solved in Mantine */
  @-moz-document url-prefix() {
    margin-bottom: -0.25em;
  }
}
