.picture {
  float: right;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-blue-filled);
  min-width: rem(136px);
  width: 30%;
  margin: rem(60px) 0 0.5rem 1rem;
  filter: saturate(90%);
  transition: all 0.2s ease;
  @mixin hover {
    filter: saturate(100%);
    box-shadow: var(--mantine-shadow-sm);
  }
  @media (min-width: $mantine-breakpoint-xs) {
    width: 40%;
    margin-top: rem(62px);
  }
  @media (min-width: $mantine-breakpoint-sm) {
    width: 35%;
    margin-top: rem(72px);
  }
  @media (min-width: $mantine-breakpoint-md) {
    width: 30%;
  }
}

.badge {
  vertical-align: text-bottom;
}
