.root {
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
}

@media (min-width: var(--mantine-breakpoint-sm)) {
  .root {
    flex-direction: row;
  }
}

.text {
  flex: 1 1 auto;
}

.pagination {
  opacity: 1;
  transition: opacity 0.15s ease;
}

.paginationFetching {
  opacity: 0;
}