.root {
    position: sticky;
    z-index: 1;
    width: 0;
    left: 0;
    background: inherit;
  }

  .root::after {
    content: "";
    position: absolute;
    top: 0;
    right: -px(var(--mantine-spacing-sm));
    bottom: 0;
    border-left: 1px solid light-dark(var(--mantine-color-dark-4), var(--mantine-color-gray-3));
    width: var(--mantine-spacing-sm);
    background: linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5))), linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5) 30%));
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease;
  }

  .withRightShadow {
    &::after {
        opacity: 1;
    }
  }

  .checkbox {
    cursor: pointer;
  }