.root {
    flex: 1 1 100%;
}

scrollbar {
    &[data-state="visible"]: { background: 'transparent' };
    div::before: { pointerEvents: 'none' };
}

.corner {
    background: transparent;
}

.thumb {
    z-index: 3;
}

.shadow {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease;
}

.topShadow {
    z-index: 2;
    left: 0;
    right: 0;
    height: var(--mantine-spacing-sm);
    background: linear-gradient(rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0));
        linear-gradient(rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0) 30%);
}

.leftShadow {
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--mantine-spacing-sm);
    background: linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0));
        linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0.3));
}

.rightShadow {
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--mantine-spacing-sm);
    background: linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0));
        linear-gradient(to right, rgb(var(--mantine-color-black), light-dark(0.05, 0.5)), rgb(var(--mantine-color-black), 0.3));
}

.bottomShadow {
    z-index: 2;
    left: 0;
    right: 0;
    height: var(--mantine-spacing-sm);
    background: linear-gradient(rgb(var(--mantine-color-black), 0), rgb(var(--mantine-color-black), light-dark(0.05, 0.5)));
        linear-gradient(rgb(var(--mantine-color-black), 0) 30%, rgb(var(--mantine-color-black), light-dark(0.05, 0.5)));
}

.shadowVisible {
    opacity: 1;
}