.root {
  font-size: 0;
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  position: relative;
}

.rightShadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: rem(10px);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}
