.details {
  font-size: var(--mantine-font-size-sm);
  position: relative;
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.label {
  width: rem(180px);
}

.number {
  width: rem(50px);
}
