.mantine-datatable-header-selector-cell {
  position: sticky;
  z-index: 1;
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  left: 0;
  text-align: center;
  padding: var(--mantine-spacing-xs);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * var(--mantine-spacing-xs));
    bottom: rem(-1px);
    border-left: 1px solid var(--mantine-datatable-row-border-color);
    width: var(--mantine-spacing-xs);
    background: var(--mantine-datatable-shadow-background-left);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &[data-shadow-visible]::after {
    opacity: var(--mantine-datatable-left-shadow-opacity);
  }
}
