.mantine-datatable {
  --mantine-datatable-color: var(
    light-dark(--mantine-datatable-color-light, --mantine-datatable-color-dark),
    var(--mantine-color-text)
  );
  --mantine-datatable-background-color: var(
    light-dark(--mantine-datatable-background-color-light, --mantine-datatable-background-color-dark),
    var(--mantine-color-body)
  );
  --mantine-datatable-border-color: var(
    light-dark(--mantine-datatable-border-color-light, --mantine-datatable-border-color-dark),
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4))
  );
  --mantine-datatable-row-border-color: var(
    light-dark(--mantine-datatable-row-border-color-light, --mantine-datatable-row-border-color-dark),
    var(--mantine-datatable-border-color)
  );
  --mantine-datatable-striped-color: var(
    light-dark(--mantine-datatable-striped-color-light, --mantine-datatable-striped-color-dark),
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6))
  );
  --mantine-datatable-highlight-on-hover-color: var(
    light-dark(--mantine-datatable-highlight-on-hover-color-light, --mantine-datatable-highlight-on-hover-color-dark),
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5))
  );
  --mantine-datatable-shadow-background-top: linear-gradient(rgba(0, 0, 0, light-dark(0.05, 0.25)), rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, light-dark(0.05, 0.25)) 30%, rgba(0, 0, 0, 0));
  --mantine-datatable-shadow-background-right: linear-gradient(
      to left,
      rgba(0, 0, 0, light-dark(0.05, 0.25)),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to left, rgba(0, 0, 0, light-dark(0.05, 0.25)), rgba(0, 0, 0, 0) 30%);
  --mantine-datatable-shadow-background-bottom: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, light-dark(0.05, 0.25))
    ),
    linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, light-dark(0.05, 0.25)));
  --mantine-datatable-shadow-background-left: linear-gradient(
      to right,
      rgba(0, 0, 0, light-dark(0.05, 0.25)),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to right, rgba(0, 0, 0, light-dark(0.05, 0.25)), rgba(0, 0, 0, 0) 30%);

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--mantine-datatable-color);
  background: var(--mantine-datatable-background-color);
}

.mantine-datatable-with-border {
  border: rem(1px) solid var(--mantine-datatable-border-color);
}

.mantine-datatable-table {
  border-collapse: separate;
  border-spacing: 0;
  color: inherit;
  background: var(--mantine-datatable-background-color);

  th,
  td {
    border-color: var(--mantine-datatable-row-border-color);
  }

  thead,
  tbody,
  tfoot,
  thead tr,
  tfoot tr,
  th,
  td {
    background: inherit;
  }

  &[data-striped] tbody tr:nth-of-type(odd) {
    background: var(--mantine-datatable-striped-color);
  }

  &[data-highlight-on-hover] tbody tr:hover {
    background: var(--mantine-datatable-highlight-on-hover-color);
  }

  tbody tr:last-of-type {
    border-bottom: 0;
  }
}

.mantine-datatable-vertical-align-top td {
  vertical-align: top;
}

.mantine-datatable-vertical-align-bottom td {
  vertical-align: bottom;
}

.mantine-datatable-last-row-border-bottom-visible tr:last-of-type:not(.mantine-datatable-empty-row) td {
  border-bottom: rem(1px) solid var(--mantine-datatable-row-border-color);
}

.mantine-datatable-pin-last-column {
  th:last-of-type,
  td:not(.mantine-datatable-row-expansion-cell):last-of-type {
    position: sticky;
    z-index: 1;

    /* This is to fix a minor visual glitch in webkit browsers */
    right: rem(-0.4px);
    @-moz-document url-prefix() {
      right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(-1 * var(--mantine-spacing-xs));
      border-right: 1px solid var(--mantine-datatable-row-border-color);
      width: var(--mantine-spacing-xs);
      background: var(--mantine-datatable-shadow-background-right);
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  th:last-of-type,
  tr[data-with-row-border]:not(:last-of-type) td:not(.mantine-datatable-row-expansion-cell):last-of-type {
    &::after {
      top: rem(-1px);
      bottom: rem(-1px);
    }
  }

  tfoot th:last-of-type::after {
    top: rem(-1px);
  }

  tr[data-selected] td:not(.mantine-datatable-row-expansion-cell):last-of-type {
    background: inherit;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--mantine-primary-color-light);
    }
  }

  &-scrolled {
    th:last-of-type,
    td:not(.mantine-datatable-row-expansion-cell):last-of-type {
      &::after {
        opacity: 1;
      }
    }
  }
}

.mantine-datatable-pin-first-column {
  &:not(.mantine-datatable-selection-column-visible) th:first-of-type,
  &:not(.mantine-datatable-selection-column-visible) td:not(.mantine-datatable-row-expansion-cell):first-of-type,
  &.mantine-datatable-selection-column-visible th:first-of-type,
  &.mantine-datatable-selection-column-visible th.mantine-datatable-column-group-header-cell:nth-of-type(2),
  &.mantine-datatable-selection-column-visible td:not(.mantine-datatable-row-expansion-cell):nth-of-type(2) {
    position: sticky;
    left: var(--mantine-datatable-selection-column-width);
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(-1 * var(--mantine-spacing-xs));
      border-left: 1px solid var(--mantine-datatable-row-border-color);
      width: var(--mantine-spacing-xs);
      background: var(--mantine-datatable-shadow-background-left);
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &.mantine-datatable-selection-column-visible th.mantine-datatable-header-selector-cell {
    left: 0;
  }

  &:not(.mantine-datatable-selection-column-visible) th:first-of-type,
  &:not(.mantine-datatable-selection-column-visible)
    tr[data-with-row-border]:not(:last-of-type)
    td:not(.mantine-datatable-row-expansion-cell):first-of-type,
  &.mantine-datatable-selection-column-visible th.mantine-datatable-column-group-header-cell:nth-of-type(2),
  &.mantine-datatable-selection-column-visible
    tr[data-with-row-border]:not(:last-of-type)
    td:not(.mantine-datatable-row-expansion-cell):nth-of-type(2) {
    &::after {
      top: rem(-1px);
      bottom: rem(-1px);
    }
  }

  &:not(.mantine-datatable-selection-column-visible) tfoot th:first-of-type,
  &.mantine-datatable-selection-column-visible tfoot th:nth-of-type(2) {
    &::after {
      top: rem(-1px);
    }
  }

  &:not(.mantine-datatable-selection-column-visible)
    tr[data-selected]
    td:not(.mantine-datatable-row-expansion-cell):first-of-type,
  &.mantine-datatable-selection-column-visible
    tr[data-selected]
    td:not(.mantine-datatable-row-expansion-cell):nth-of-type(2) {
    background: inherit;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--mantine-primary-color-light);
    }
  }

  &-scrolled:not(.mantine-datatable-selection-column-visible) th:first-of-type,
  &-scrolled:not(.mantine-datatable-selection-column-visible)
    td:not(.mantine-datatable-row-expansion-cell):first-of-type,
  &-scrolled.mantine-datatable-selection-column-visible th:first-of-type,
  &-scrolled.mantine-datatable-selection-column-visible th.mantine-datatable-column-group-header-cell:nth-of-type(2),
  &-scrolled.mantine-datatable-selection-column-visible td:not(.mantine-datatable-row-expansion-cell):nth-of-type(2) {
    &::after {
      opacity: 1;
    }
  }
}
